body{
    background-color: #040D12;

}

.Toolkit{
    color: #93B1A6;
    text-shadow: #183D3D 1px 0 20px;

}

.Title > h1{
    display: flex;
    color: #93B1A6;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
    font-size: 120px;
    padding: none;
    /*text-shadow: #183D3D 1px 0 20px;*/
   

}

.Title:hover{
    text-shadow:  0px 0px 20px #0f4b4b;
}


.lead > p{
    text-shadow:  1px 0px 20px #183D3D;
    animation: fadeIn 1s;
}


.profile-pic{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
    animation: fadeIn 0.5s;
  
}

.picture{ 
    display: inline-flex;
    border-radius: 50%;
    box-shadow: 2px 2px 50px 15px #2c6c6c;
    animation: fadeIn 1s;
    
}

/*@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}*/

.hr{

    padding: 20px;
    margin-bottom: 3%;
}

.button1{
    
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3%;
}

button:hover{
    box-shadow: 0 0 50px 10px #379898;
}



.Hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-20%);
    transition: all 1s;

}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);

}

.skills{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

@media screen and (max-width:760px)
{ .skills{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

}

th, td {
    width:350px;
    
    padding:15px;
}

.f{
    font-size: 50px;
}

.tool{
    font-size: 70px;
}

footer{

    text-align: center;
    padding: 3px;
    color: white;
   
}